<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>작품을 촬영하여 AI 도슨트 서비스를 이용하기 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>갤러리에서 작품 이미지를 선택하여 AI 도슨트 서비스를 이용하기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
</dict>
</plist>
